.nav-btn {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size2);
    color: var(--color-highlight);
    background: none;
    padding: var(--spacing1) var(--spacing2);
    border-radius: var(--radius4);
    cursor: pointer;
    transition: 0.2s;
}

@media (hover: hover) {
    .nav-btn:hover {
        background: var(--color-bg);
        transition: 0.2s;
    }
}


.nav-btn.selected {
    background: var(--color-bg);
    transition: 0.2s;
}

.nav-btn:active {
    background: var(--color-outline);
}

.nav-btn > :first-child {
    width: 24px;
    height: 24px;
    margin-right: var(--spacing0);
}