#app-container {
    --spacing0: 4px;
    --spacing1: 8px;
    --spacing2: 16px;
    --spacing3: 24px;

    --radius1: 8px;
    --radius2: 16px;
    --radius3: 24px;
    --radius4: 32px;

    --font-size0: 1.75rem;
    --font-size1: 1.5rem;
    --font-size2: 1.125rem;
    --font-size3: 1rem;
    --font-size4: 0.875rem;
}

#app-container {
    background-color: var(--color-bg);
    color: var(--color-text-main);
    min-height: 100vh;

    color: var(--color-text-main);
}

h1 {
    font-size: var(--font-size0);
    font-weight: 700;
}

h2 {
    font-size: var(--font-size1);
    font-weight: 700;
    margin-bottom: var(--spacing1);
}

h3 {
    font-size: var(--font-size2);
    font-weight: 700;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.25rem;
}

button {
    border: 0;
    padding: 0;
}

