.post-details {
    font-size: var(--font-size4);
    color: var(--color-details);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing2) var(--spacing2) var(--spacing1);
}

.author-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-names {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.author-avatar{
    width: 32px;
    height: 32px;
    border: solid 1px var(--color-details);
    border-radius: var(--radius4);
    margin-right: var(--spacing0);
}

.subreddit-name {
    color: var(--color-text-main);
    font-weight: 700;
}

.subreddit-avatar {
    width: 32px;
    height: 32px;
    border: solid 1px var(--color-outline);
    border-radius: var(--radius4);
    margin-right: var(--spacing1);
}

.profile-names div {
    margin: var(--spacing0) var(--spacing0) var(--spacing0) 0;
}

.username {
    color: var(--color-text-main);
}

.date {
    text-align: right;
}

.post-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: var(--spacing1) var(--spacing2) var(--spacing2);
}

.post-image img{
    width: 100%;
    border-top: solid 1px var(--color-outline);
    border-bottom: solid 1px var(--color-outline); 
}

.video-link {
    padding: var(--spacing1) var(--spacing2) var(--spacing2);
}

.comments-container {
    padding: var(--spacing1) var(--spacing2) 0;
}

.comments-btn {
    font-size: var(--font-size4);
    color: var(--color-details);
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-bottom: var(--spacing1);
}

.comments-btn:hover {
    text-decoration: underline;
}

.comments-btn > :first-child {
    width: 16px;
    height: 16px;
    margin-right: var(--spacing0)
}

@media only screen and (max-width: 768px) {
    .profile-names {
        flex-direction: column;
        align-items: flex-start;
    }
}